body{
    margin: 0;
    padding:0;
    background-color: #c2185b;
    background-image: url(../images/pinkpanther.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 20%;
}

.options {
    background-color: #ef9a9a;
    box-shadow: #470019 2px 2px;
    margin: 10px;
    padding:10px;
    text-align: center;

}
.options:hover{
    background-color: white;
    margin: 10px;
    padding:10px;
    text-align: center;
}
.cheer{
    font-family: 'Permanent Marker';
    font-size: 2em;
    color:#ffcccb;
}
.cheer1{
    font-family: 'Permanent Marker';
    font-size: 3em;
    color:#8c0032;
    margin-bottom: -10px;
}
.answeroption {
    font-weight: 900;
    font-family: 'Tajawal';
    font-size: 1.2em;
    color:#8c0032;
}
#toppage{
    min-height: 170px;
    float: left;
}
#timeremain {
        font-family: 'Coda';
        text-align: center;
        color: white;
        font-size: 5em;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
}
#prompt{
        font-family: 'Tajawal';
        text-align: center;
        color: #470019;
        font-size: 1.4em;
}
.circlecontainer {
        margin:auto;
        display: inline-table;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        background-color:#8c0032;
    }
#title {
  text-align: center;
  font-size: 4em;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
a:hover {
  color: #8c0032;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
    text-decoration: none;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
    